# Introductie pandas - Uitwerkingen
Hieronder staan mogelijke uitwerkingen voor de opdrachten uit het notebook pandas_introductie. 

Ga eerst zelf met de opdrachten aan de slag en kijk pas hier als je wilt controleren of je het goed gedaan hebt of als je écht niet verder kunt. Ik raad je aan om altijd eerst te kijken of je online de informatie kunt vinden die je nodig hebt. Dit is hoe datascientisten ook werken. Als je iets wilt programmeren maar de juiste code niet weet, dan ga je kijken of je het online kunt vinden, bijvoorbeeld in de documentatie, op stackoverflow of in een blog. 

Wil je bijvoorbeeld het gemiddelde van een kolom vinden, google dan (bijvoorbeeld) op 'pandas calcalute mean column'. Zorg dat je altijd Python of pandas (of een ander package waar je mee werkt) in je zoekopdracht zet.

Merk op dat er (bijna) altijd meerdere juiste oplossingen zijn. Als je iets anders gedaan hebt dan in dit notebook, maar wel het juiste antwoord hebt gevonden, is het ook goed! En vraag het na tijdens de les bij twijfel!

### Opdrachten bij tutorial 1 - Uitwerkingen

In [ ]:
import pandas as pd

In [ ]:
cijfers_df = pd.DataFrame({"Studentnummer": [302341, 314345, 374232, 352352], "Opdracht": [5.5, 6.2, 7.1, 9.3], 
                          "Tentamen": [6.1, 4.2, 8.3, 7.8], "Geslaagd": ["Ja", "Nee", "Ja", "Ja"]})

In [ ]:
cijfers_df

### Opdrachten bij tutorial 2 - uitwerkingen

In [ ]:
# Opdracht 1
vgsales = pd.read_csv('../data/vgsales.csv')

In [ ]:
#Opdracht 2
vgsales.head(5)

In [ ]:
#Opdracht 3
vgsales.tail(10)

In [ ]:
#Oprdracht 4
vgsales.dtypes

In [ ]:
#Opdracht 5
vgsales.info()

We zien dat Year, Genre en Publisher null-values bevatten.

In [ ]:
vgsales.to_excel('/path/to/home/vgsales.xlsx', sheet_name="vgsales", index=False)

### Opdrachten bij tutorial 3 - Uitwerkingen

In [ ]:
#Opdracht 1
vgsales_EU = vgsales["EU_Sales"]
vgsales_EU.head()

In [ ]:
#Opdracht 2
vgsales_Year_not_null = vgsales[vgsales["Year"].notna()]
vgsales_Year_not_null.head()

In [ ]:
#Opdracht 3
vgsales_more_10 = vgsales[vgsales["Global_Sales"] > 10 ]
vgsales_more_10.head()

In [ ]:
#Opdracht 4
vgsales_less_05 = vgsales[vgsales["Global_Sales"] < 0.5]
vgsales_less_05.shape

Er zijn dus 12580 games waarvoor de Global Sales lager was dan een half miljoen

In [ ]:
#Oprdracht 5
vgsales_selection = vgsales.iloc[14:50, 1:6]
vgsales_selection

In [ ]:
#Opdracht 6
vgsales_2006 = vgsales[vgsales["Year"]==2006]
vgsales_2006.head()

In [ ]:
#Opdracht 7
vgsales_Nintendo_2008 = vgsales[(vgsales["Publisher"]=="Nintendo") & (vgsales["Year"]==2008) & (vgsales["Genre"]=="Racing")]
vgsales_Nintendo_2008

Dat is er maar 1, alleen Mario Kart Wii

### Opdrachten bij tutorial 4 - uitwerkingen

In [ ]:
#Opdracht 1
vgsales["Total_Sales"] = vgsales["EU_Sales"] + vgsales["NA_Sales"] + vgsales["JP_Sales"] + vgsales["Other_Sales"]

In [ ]:
#Opdracht 2
vgsales_renamed = vgsales.rename(columns=str.lower)

In [ ]:
vgsales_renamed.head()

## Opdrachten bij tutorial 5 - Uitwerkingen

In [ ]:
#Opdracht 1 
vgsales.describe()

We zien dat het gemiddelde van EU_Sales 0.146652 miljoen is

In [ ]:
#Opdracht 2
vgsales[(vgsales["Publisher"]=="Electronic Arts") & (vgsales["Year"]==2010)].mean()

We zien dat het gemiddelde 0.924773 miljoen is.

In [ ]:
#Opdracht 3
vgsales[(vgsales["Year"]==2016) & (vgsales["Publisher"]=="Nintendo")]["Global_Sales"].sum()

Dus voor 3,47 miljoen.

In [ ]:
#Opdracht 4
vgsales.sort_values(by="Global_Sales", ascending=False).head()

Dat is Wii Sports.

In [ ]:
#Opdracht 5
vgsales_2009 = vgsales[vgsales["Year"]==2009]
vgsales_2009_grouped = vgsales_2009.groupby("Genre").sum()
vgsales_2009_grouped["JP_Sales"]

Role-Playing leverde het meeste op, 17.07 miljoen. Gevolgd door Action.

In [ ]:
#Opdracht 6
vgsales_1985 = vgsales[vgsales["Year"]==1985]
vgsales_1985_sorted = vgsales_1985.sort_values(by="EU_Sales")
vgsales_1985_sorted.head()

In [ ]:
vgsales_1985_EUSales_not_zero = vgsales_1985_sorted[vgsales_1985_sorted["EU_Sales"] > 0].head()

We zien een gedeelde laatste plek voor *Ghostbusters* en *Alter Ego*.

In [ ]:
vgsales[vgsales["Name"].isin(["Ghostbusters", "Alter Ego"])]

Wereldwijd leverde deze games 0.03 en 0.46 miljoen op.

In [ ]:
#Opdracht 7
vgsales.groupby("Publisher")["Name"].count().sort_values(ascending=False)

Dat is Electronic Arts

## Opdrachten bij tutorial 6 - Uitwerkingen

### Opracht 1
Maak een DataFrame waarin we van alle klanten first_name en last_name zien, en het amount van alle betalingen die ze gedaan hebben. Klanten die nooit een betaling hebben gedaan willen we niet zien.

In [ ]:
import pandas as pd
payment = pd.read_csv('../data/dvdrental/payment.csv')
customer = pd.read_csv('../data/dvdrental/customer.csv')

customer_amount_df = customer.merge(payment, how="inner", on="customer_id")[["first_name", "last_name", "amount"]]
customer_amount_df.head()

### Opdracht 2
Voer een join uit om te zien of er films in de inventory zijn die nooit verhuurd zijn. Welke titels horen daarbij?

In [ ]:
inventory = pd.read_csv('../data/dvdrental/inventory.csv')
rental = pd.read_csv('../data/dvdrental/rental.csv')
film = pd.read_csv('../data/dvdrental/film.csv', sep=";")

inventory_film_join = inventory.merge(rental, on="inventory_id", how = "left")
nooit_gehuurd = inventory_film_join[inventory_film_join["rental_id"].isna()]
nooit_gehuurd

In [ ]:
#Bekijk welke titel bij film_id==1 hoort
film[film["film_id"]==1]["title"]

### Opdracht 3
Maak een DataFrame als in opdracht 1, maar dan met first_name, last_name en title van alle films die een klant gehuurd heeft, op alfabetische volgorde van last_name. Zorg dat bij klanten met dezelfde achternaam first_name op alfabetische volgorde staat.

In [ ]:

joined_df = customer.merge(rental, how = "inner", on="customer_id")
joined_df = joined_df.merge(inventory, how = "left", on = "inventory_id")
joined_df = joined_df.merge(film, how = "left", on = "film_id")

name_film_df = joined_df[["first_name", "last_name", "title"]].sort_values(by=["last_name", "first_name"])
name_film_df.head(20)

### Opdracht 4
Maak een DataFrame waarin we per klant kunnen zien wat hij of zij in totaal uitgegeven heeft aan dvd-huur.

In [ ]:
customer["full_name"] = customer["first_name"] + " " + customer["last_name"]
joined_df = customer.merge(payment, how = "left", on = "customer_id")[["full_name", "amount"]]
customer_amount_df = joined_df.groupby("full_name").sum()

In [ ]:
customer_amount_df.head()

#Extra: Door de groupby is de index van dit DataFrame de full_name geworden. We kunnen daar weer een 'gewone' kolom van maken door .reset_index() aan te roepen.
customer_amount_df.reset_index()

### Opdracht 5
Maak een DataFrame met twee kolommen. Kolom 1 is de titel van alle films uit de film tabel en kolom 2 is het aantal acteurs in die film.

In [ ]:
film_actor = pd.read_csv("../data/dvdrental/film_actor.csv")
actor = pd.read_csv("../data/dvdrental/actor.csv")

In [ ]:
joined_df = film.merge(film_actor, how="left", on="film_id")
joined_df = joined_df.merge(actor, how="left", on="actor_id")
joined_df = joined_df[["film_id", "actor_id"]]
film_actor_count = joined_df.groupby("film_id").count()

In [ ]:
film_actor_count = film_actor_count.reset_index()
film_actor_count.columns = ["film_id", "actor_count"]
film_actor_count.head()

In [ ]:
film_actor_count = film_actor_count.merge(film, how="left", on="film_id")[["title", "actor_count"]]
film_actor_count.head()

## Opdrachten bij tutorial 7 - Uitwerkingen

### Opdracht 1
Maak een plot met 4 lijnen, behorende bij "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales". Op de x-as staat het jaar en op de y-as de sales in miljoenen. Zorg dat iedere lijn in een aparte subplot staat. Als je rare zigzag-lijnen krijgt komt dit doordat de data nog niet op jaar gesorteerd is. Dit kun je doen door gebruik te maken van de functie sort_values(). (zie: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) Dit is niet per se een goede plot om informatie uit te halen, maar wat wel opvalt is dat dat in één jaar de sales veel hoger zijn dan in alle andere jaren. In welk jaar is dat? (Extra: kun je achterhalen door welk spel dit komt?)

In [ ]:
vgsales = pd.read_csv('../../shared/vgsales.csv')
vgsales_sorted = vgsales.sort_values(by="Year")
vgsales_sorted[["Year","NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"]].plot(x="Year", subplots = True)

In het jaar 2006 zit bij alle 4 de grafieken een piek. Waarschijnlijk was er één spel dat erg goed verkocht. Laten we eens kijken hoe dit kan.

In [ ]:
vgsales[vgsales["Year"]==2006].sort_values(by="Global_Sales", ascending=False).head()

Deze piek is veroorzaakt door Nintendo Wii

### Opdracht 2
Maak een scatterplot om te zien wat de samenhang is tussen NA_Sales en EU_Sales in 2008.

In [ ]:
vgsales.plot.scatter(x="NA_Sales", y="EU_Sales", alpha=0.5)

### Opdracht 3
Maak een barplot met op de x-as "Genre" en op de y-as de totale sales per genre in 2010.

In [ ]:
vgsales_genre = vgsales.groupby("Genre").sum()
vgsales_genre.plot.bar(y=["Global_Sales"])

### Opdracht 4
Doe hetzelfde als hierboven maar laat voor ieder sales regio een aparte bar zien.

In [ ]:
vgsales_genre.plot.bar(y=["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"])