# Databases en SQL

## Opdracht 1 - Uitwerkingen
1. Wat voor relatie betaat er tussen de tabellen:
    * film en inventory: one and only one to zero or many
    * inventory en rental one and only one to zero or one
    * staff en address: zero or many to one and only one
2. Leg in woorden uit wat deze relaties betekenen in het kader van deze tabellen.
    * film en inventory: Eén film_id hoort bij 0 of meerdere rijen in de inventory_id tabel. Dus iedere film kan zowel 0, 1 als meerdere keren in de inventory voorkomen.
      Daarentegen kan iedere inventory_id kan maar bij 1 film_id horen. 
    * inventory en rental: één inventory_id kan bij 0 of 1 rental_id horen. Logisch, iedere film kan maar één keer tegelijk uitgeleend zijn, of hij is niet uitgeleend (de 0 in de relatie)
      Iedere rental_id kan maar bij één inventory_id horen, en hoort ook altijd bij een inventory_id. Als een film uitgeleend is, is daar altijd één (fysieke) dvd aan te koppelen.
    * staff en address: een staff_id hoort bij 1 address_id. Iemand van de staff heeft maar 1 adres en moet dit adres opgeven. Geen dakloze werknemers hier dus.
      Ieder address_id hoort bij 0, 1 of meerdere staff_id's. Sommige adressen horen bij customers en niet bij staff, of bij helemaal niemand in de database. Vandaar de 0. Twee staff members kunnen huisgenoten zijn, dus dan hoort één adres bij meerdere staff_id's.
3. Identificeer de foreign keys in de volgende tabellen:
    * customer: store_id voor de store-tabel. address_id voor de address-table.
    * film_actor: Dit is een bridge tabel, actor_id en film_id zijn beiden zowel primary als foreignkey.
    * payment: customer_id voor de customer tabel, staff_id voor de staff tabel, rental_id voor de rental tabel.
4. Welke tabellen zijn bridge tables? Wat is de functie hiervan?
    Dit zijn film_actor en film_category. Dit komt omdat er tussen de film en actor tabel (zowel als tussen de film en category tabel) een zero or many to zero or many relatie bestaat. Een film kan meerdere acteurs bevatten, maar een acteur kan ook in meerdere films spelen. Hierdoor is er geen mooie manier om voor één film alle actor_id's in de film tabel op t nemen, of de film_id in de actor tabel.

## Opdracht 2 - Uitwerkingen
1. Een tabel met title, description en rental_rate gesorteerd op rental_rate, met de duurste film eerst.
    * Antwoord: *SELECT title, description, rental_rate FROM film ORDER BY rental_rate DESC;*
2. Title en descrition van de laatste 10 rijen in de tabel film.
    * Antwoord: *SELECT title, description FROM film LIMIT 10 OFFSET 990;*
3. Een tabel met de volledig naam en email uit de staff tabel. Noem de kolom met de volledige naam 'name'.
    * Antwoord: *SELECT first_name ||' '|| last_name as name, email FROM staff;*
4. Alle films die met rating 'G', gesorteerd op titel.
    * Antwoord: *SELECT * FROM film WHERE rating='G' ORDER BY title;*

## Opdracht 3 - Uitwerkingen

1. Een tabel waarin we van alle klanten first_name en last_name zien, en het amount van alle betalingen die ze gedaan hebben. Klanten die nooit een betaling hebben gedaan willen we niet zien. 

    * Antwoord: *SELECT c.first_name, c.last_name, p.amount 
	FROM customer c
INNER JOIN
	payment p
	ON c.customer_id = p.customer_id;*
2. Hoeveel rijen heeft deze nieuwe tabel? Kun je dat verklaren uit het aantal rijen van customer en payment?
     Deze tabel heeft 14596 rijen. Dit kun je zien in de pop-up die je krijgt als je de query uitvoert, maar ook door de query
     *SELECT COUNT c.firstname FROM customer c INNER JOIN payment p ON c.customer_id = p.customer_id;* uit te voeren. 
     Dit zijn er precies evenveel als de payment tabel, dit is te verklaren door de *zero or many to one and only one* relatie tussen payment en customer. Bij iedere rij in payment hoort namelijk precies één klant. 
3. Voer een join uit om te zien of er films in de inventory zijn die nooit verhuurd zijn. Welke titels horen daarbij?
   * Antwoord: *SELECT i.film_id, r.rental_id
	FROM inventory i
LEFT JOIN
	rental r
	ON i.inventory_id = r.inventory_id
	WHERE r.rental_id is NULL;
    We zien dat er film_id = 1 bij hoort, dus kijken we in de film tabel welke titel erbij hoort met de volgende query:
    SELECT title FROM film WHERE film_id=1;
    De bijbehorende titel is Academy Dinosaur.
4. Maak een tabel als in opdracht 1, maar dan met first_name, last_name en title van alle films die een klant gehuurd heeft, op alfabetische volgorde van last_name. Zorg dat bij klanten met dezelfde achternaam first_name op alfabetische volgorde staat.
    * Antwoord: *SELECT c.first_name, c.last_name, f.title FROM customer c
	INNER JOIN
		rental r 
		USING(customer_id)
	LEFT JOIN
		inventory i
		USING(inventory_id)
	LEFT JOIN
		film f
		USING(film_id)
		ORDER BY last_name, first_name;*
5. Als je een *inner_join* uitvoert op *payment* en *customer*. Wat kun je dan zeggen over het aantal rijen in de nieuwe tabel? Zijn dit er altijd meer, minder of evenveel als in *payment* en *customer*? Wat heeft dit met het type relatie te maken? 
Omdat er een *one or many to one and only one* relatie tussen payment en customer bestaat, weten we dat bij één payment_id precies één customer_id hoor. Hierdoor zal een inner_join altijd een tabel opleveren met evenveel rijen de payment tabel.
6. Voer nu een left_join uit op inventory en film, en vervolgens een right_join. Wat gebeurt er met het aantal rijen in de join-table? Verklaar dit aan de hand van het type relatie tussen de tabellen.
    Er bestaat een *zero or many to one and only one* relatie tussen inventory en film. Bij een left_join blijven sowieso alle rijen uit inventory behouden en die worden via film_id gekoppeld aan een film. Omdat er bij iedere inventory_id (dus iedere rij in de inventory tabel) precies één film hoort, zal het aantal rijen in de join-table gelijk zijn aan die van inventory.
    Bij een right_join worden alle rijen uit de film tabel behouden. Bij iedere film_id hoort 0, 1 of meerdere inventory_id's. Het aantal rijen zal dus gelijk blijven aan het aantal rijen in de film tabel als alle film_id's maar 0 of 1 keer voorkomen in de inventory tabel. Maar komt hij vaker voor, dan zal voor iedere extra keer dat een film in inventory voorkomt, een extra rij in de join-table komen. Het is dus altijd gelijk aan of meer dan het aantal rijen in film.